name: Build golang executable on PR

on:
  pull_request:

jobs:
  golang-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - linux
          - windows
          - darwin
        arch:
          - amd64
    steps:
      - uses: thetillhoff/action-golang-build@cb6b769961c656030876b3a7aef26daac6f695a4 # v0.2.0
        with:
          OS: "${{ matrix.os }}"
          ARCH: "${{ matrix.arch }}"
          BUILDARGS: -ldflags="-X main.version=${{ github.ref_name }}"
