name: Build golang executable on PR

on:
  pull_request:

jobs:
  golang-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - linux
          - windows
          - darwin
        arch:
          - amd64
    steps:
      - uses: thetillhoff/action-golang-build@0c8209de8feddafe561af7a7a5e9b26eadc8425b # v0.3.0
        with:
          OS: "${{ matrix.os }}"
          ARCH: "${{ matrix.arch }}"
          BUILDARGS: -ldflags="-X main.version=${{ github.ref_name }}"
